<div id="container">
  <div id="profile" *ngIf="isLoggedIn$ | async">
    <div>
      <img class="avatar" src="https://lorempixel.com/128/128/">
      <h2>{{userEmail$ | async}}</h2>
    </div>
  </div>
  <div id="timeline">
    <div>
      <app-schreme [schremeForm]="schremeForm" (schreme)="schreme($event)" *ngIf="isLoggedIn$ | async; else login"></app-schreme>
      <ng-template #login><a routerLink="/login">Login to broadcast your machinations</a></ng-template>
    </div>
    <div class="loading" *ngIf="loading$ | async">
      Loading timeline&hellip;
    </div>
    <div *ngFor="let id of postIds$ | async">
      <app-post [post]="(posts$ | async)[id]"></app-post>
    </div>
  </div>
</div>
