@import "../../../assets/variables";

#post-input {
  display: flex;
  input {
    border: 1px solid #999;
    flex: 1;
    border-right: 0;
    padding: 0.6rem;
  }
  button {
    border: 1px solid #999;
    padding: 0.5rem 0.75rem;
    background-color: $color-secondary-1-1;
    color: #333;
    font-weight: 300;
    font-size: 1.2rem;
  }
}
