// Brand colours
$color-primary-0: #764B8E;
$color-primary-1: #BFA6CC;
$color-primary-2: #9572A9;
$color-primary-3: #582A72;
$color-primary-4: #3C1153;

$color-secondary-1-0: #A5C664;
$color-secondary-1-1: #E5F5C4;
$color-secondary-1-2: #D1EC9B;
$color-secondary-1-3: #7C9F35;
$color-secondary-1-4: #547512;

$color-secondary-2-0: #D5C26B;
$color-secondary-2-1: #FFF6CC;
$color-secondary-2-2: #FCEEA6;
$color-secondary-2-3: #AA9739;
$color-secondary-2-4: #7D6B14;
