@import "../../../assets/variables";

h4 {
  margin-top: 0;
  #name {
    font-weight: 600;
    color: $color-secondary-1-0;
  }
  #action-line {
    font-weight: 300;
    font-style: italic;
  }
}

q {

}

small#date {
  float: right;
}
