/* You can add global styles to this file, and also import other style files */

// Normalize.css
@import "~normalize.css/normalize.css";

// Material Icons
@import "~material-design-icons/iconfont/material-icons.css";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

// Project Variables
@import "assets/variables";

// Global Styles
body {
  margin: 0;
  background-color: lighten($color-primary-1, 25%);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

img.avatar {
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 600px;
  border: 2px solid $color-secondary-1-0;
}
